name: Lint Code Base

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]
  workflow_dispatch:
  
jobs:
  deploy-main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: "develop"
          VALIDATE_HTML: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          DEFAULT_BRANCH: "develop"
          VALIDATE_CSS: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Merge commit
        run: 
          git config --global user.email "bot@linter.com"
          git config --global user.name "linter bot"
          git checkout main
          git merge develop
          git push
